/* Reset styles */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
.popup {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* Common styles */
a,
input,
select {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* Links */
a {
  color: #111;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Text formatting */
ins,
mark {
  background-color: #ff9;
  color: #000;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* Tables */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

/* Header */
header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: white;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .brand {
  font-size: 24px;
  color: #111;
  font-weight: 900;
  font-family: "Roboto Mono", monospace;
}

header nav ul {
  display: flex;
  list-style: none;
}

header nav ul li {
  margin: 0 16px;
}

header nav ul li a {
  font-size: 16px;
  color: #111;
  text-transform: uppercase;
  font-family: "Inconsolata", monospace;
  font-weight: 600;
}

/* Banner */
.index-banner {
  height: calc(100vh - 100px);
  background-image: url("https://media.giphy.com/media/ftrKLbppIyfkK7HgWA/giphy.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.index-banner h2,
.index-banner h1 {
  color: #fff;
  text-align: center;
  font-weight: 900;
  font-family: "Karla", sans-serif;
}

.index-banner h2 {
  font-size: 60px;
  line-height: 70px;
  text-shadow: 2px 2px #111;
}

.index-banner h1 {
  font-size: 28px;
  line-height: 40px;
  font-style: italic;
  text-shadow: 1px 1px #111;
  font-family: "Indie Flower", cursive;
}

/* Footer */
footer {
  width: calc(100% - 80px);
  padding: 40px;
  background-color: #111;
  margin-top: 20px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer ul {
  list-style: none;
}

footer ul li a {
  font-size: 14px;
  color: #fff;
  line-height: 40px;
  text-transform: uppercase;
}

.footer-sm {
  width: 60px;
}

.footer-sm img {
  width: 50px;
  margin-bottom: 10px;
}

@media only screen and (min-width: 1000px) {
  header .brand {
    margin: 31px 0;
    text-align: left;
    line-height: 38px;
    padding-left: 40px;
    border-right: solid 2px #111;
  }

  header nav ul {
    margin-left: 20px;
  }

  header nav ul li a {
    font-size: 16px;
    line-height: 60px;
  }

  .index-banner {
    height: 525px;
  }

  .index-links {
    overflow: hidden;
  }

  .index-links div {
    margin: 20px 10px 0;
    height: 230px;
    background-color: #f2f2f2;
    float: left;
  }

  .index-box-square {
    width: calc(25% - 20px) !important;
  }

  .index-box-rectangle {
    width: calc(50% - 20px) !important;
  }

  .index-links div h3 {
    line-height: 230px;
  }

  footer ul {
    padding-right: 30px;
  }

  footer ul li a {
    font-size: 20px;
    line-height: 40px;
  }
}

/* Popup */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-size: 16px;
  color: #cb10a2;
  letter-spacing: 2px;
  font-family: "Inconsolata", monospace;
}

.popup .popuptext {
  visibility: hidden;
  width: 750px;
  background-color: #555;
  text-align: center;
  border-radius: 10px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -300px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.popup .show {
  visibility: visible;
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}
